* {
  box-sizing: border-box;
}
body {
  font-family: $rubik;
  font-size: 16px;
  font-style: normal;
  color: $text-default;
  line-height: 1.5;
  font-weight: 400;
}

.clearfix:before,
.clearfix:after
 {
  content: " ";
  display: table;
}

.clearfix:after, .clearfix:before
  {
  clear: both;
}


select {
  cursor: pointer;
  option {
    cursor: pointer;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}