.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &-visa {
    background-image: url("#{$imgpath}icon-visa.svg");
    width: 48px;
    height: 15.53px;
  }
  &-master {
    background-image: url("#{$imgpath}icon-master.svg");
    height: 24px;
    width: 30.85px;
  }
  &-amex {
    background-image: url("#{$imgpath}icon-amex.svg");
    height: 24px;
    width: 24px;
  }
  &-subtract {
    background-image: url("#{$imgpath}icon-subtract.svg");
  }
  &-union {
    background-image: url("#{$imgpath}icon-union.svg");
  }
  &-star {
    background-image: url("#{$imgpath}icon-star.svg");
  }
  &-statistic {
    background-image: url("#{$imgpath}icon-statistic.svg");
  }
}


