.premium-form {
  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 320px;
    @media (min-width: 640px) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 640px;
    }
    @media (min-width: 1024px) {
      max-width: 848px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    @media (min-width: 640px) {
      margin-top: 22px;
    }
    @media (min-width: 1024px) {
      margin-top: 85px;
      flex-direction: row;
    }
  }
  &__aside {
    width: 100%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 46px 16px 24px 16px;
    background-image: url("#{$imgpath}premium-form__bg_mob.jpg");
    border-radius: 8px 8px 0 0;
    @media (min-width: 640px) {
      padding: 48px 48px 25px 48px;
      background-image: url("#{$imgpath}premium-form__bg_tab.jpg");
    }
    @media (min-width: 1024px) {
      max-width: 324px;
      padding: 48px 24px;
      border-radius: 8px 0 0 8px;
      background-image: url("#{$imgpath}premium-form__bg_desk.jpg");
    }
  }
  &__body {
    border-left: 1px solid $border-color-warning;
    border-right: 1px solid $border-color-warning;
    border-bottom: 1px solid $border-color-warning;
    border-radius: 0 0 8px 8px;
    @media (min-width: 1024px) {
      border-top: 1px solid $border-color-warning;
      border-right: 1px solid $border-color-warning;
      border-bottom: 1px solid $border-color-warning;
      border-left: none;
      border-radius: 0 8px 8px 0;
    }
  }
  &__logo {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    background: linear-gradient(90deg, #C59639 0%, #E9C467 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $text-warning;
    font-size: 32px;
    line-height: (40/32);
    @media (min-width: 640px) {
      font-size: 48px;
      margin-bottom: 24px;
    }
    &:before {
      content: '';
      display: flex;
      flex-shrink: 0;
      width: 82.36px;
      height: 24px;
      font-size: 0;
      line-height: 0;
      background-image: url("#{$imgpath}logo.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-bottom: 16px;
    }
  }
  &__accordion {
    display: none;
    padding: 0;
    margin: 0;
    color: $white;
    @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      width: 50%;
      margin-bottom: 24px;
      flex-direction: column;
      @media (min-width: 1024px) {
        width: 100%;
      }
      &-title {
        font-weight: 500;
        display: flex;
        align-items: center;
        position: relative;
        @media (min-width: 1024px) {
          padding-right: 34px;
          &:after {
            content: '';
            display: flex;
            flex-shrink: 0;
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            background-image: url("#{$imgpath}icon-arrow.svg");
            transform: rotate(180deg);
          }
        }
        &_active &-title:after {
          transform: rotate(0);
        }
        .icon {
          width: 24px;
          display: flex;
          flex-shrink: 0;
          height: 24px;
          margin-right: 10px;
        }
      }
      &-text {
        display: none;
      }
      &_active &-text {
        @media (min-width: 1024px) {
          display: flex;
          margin-top: 16px;
        }
      }


    }
  }
}