$imgpath: "./../images/";

$rubik: 'Rubik', sans-serif;
$white: #fff;
$black: #000;
$primary: #3BBBE9;

$border-color-default: #C1CDE6;
$border-color-light:  #E1E6F0;
$border-color-primary: $primary;
$background-btn-primary: $primary;
$background-btn-warning: linear-gradient(90deg, #C59639 0%, #E9C467 100%);

$text-warning: #C6973A;
$text-default: #010E28;
$text-primary: $primary;
$text-black: #010E28;